@tailwind preflight;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
}

.title {
  margin: 0;
  width: 100%;
  padding-top: 40px;
  line-height: 1.15;
  font-size: 48px;
}

.title, .description {
  text-align: center;
}
